<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%-include("Header")%>
    <div class="LoginContainer">
        <form action="/RegisterAnAccount" method="POST">
            <h1>Login</h1>
            <label for="fullname">Fullname</label>
            <input type="text" name="fullname" placeholder="Fullname">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password">
            <label for="password">Confirm Password</label>
            <input type="password" name="confirmPassword" placeholder="Password">
            <button type="submit">Login</button>
            <p>Already have an account? <a href="/login">Login!</a></p>
        </form>
    </div>
    <%-include("Footer")%>
</body>
</html>