@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: "Roboto";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background: #1d5f38;
    --fontWhite: #fefefe;
    --bodyBackGround: #194c2e;
}

body{
    background-color: var(--bodyBackGround);
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background);
    color: var(--fontWhite);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .buttonBox{
        display: flex;
        column-gap: 20px;

        h2{
            a{
                text-decoration: none;
                color: var(--fontWhite);
                background-color: #4ade80;
                padding: 10px;
                border-radius: 10px;
            }

            #register{
                background-color: #38bdf8;
            }
        }
    }
    
    h1{
        font-weight: bolder;

        a{
            text-decoration: none;
            color: var(--fontWhite);
        }
    }

    h2{
        font-weight: bold;

        #logout{
            text-decoration: none;
            color: var(--fontWhite);
            background-color: #ef4444;
            padding: 10px;
            border-radius: 10px;
        }
    }
}

.LoginContainer{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form{
        display: flex;
        flex-direction: column;
        border: 3px solid var(--fontWhite);
        background-color: var(--fontWhite);
        padding: 20px;
        border-radius: 10px;
        
        h1{
            text-align: center;
            margin-bottom: 10px;
        }

        label{
            font-size: 20px;
            font: bold;
            margin: 5px 0;
        }

        input{
            font-size: 20px;
            border-radius: 10px;
            border: 2px solid gray;
            padding: 8px;
            margin-bottom: 10px;
        }

        button{
            font-size: 20px;
            border-radius: 10px;
            padding: 10px;
            border: none;
            margin: 10px 0;
            background-color: #5bb378;
            color: var(--fontWhite);
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.mainPageContainer{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        color: var(--fontWhite);
    }

    form{
        padding: 20px;
        display: flex;
        flex-direction: column;

        input{
            font-size: 30px;
            padding: 10px;
            border-radius: 10px;
            background-color: #5bb378;
            color: var(--fontWhite);
        }

        button{
            margin: 15px 0;
            font-size: 30px;
            padding: 10px;
            font-weight: bold;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .yourFiles{
        width: 50%;
        min-width: 593px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #alertText{
            color: var(--fontWhite);
            font-size: 25px;
            margin-top: 50px;
        }

        .fileWrapper{
            margin: 15px 0;
            width: 100%;
            display: flex;
            justify-content: space-around;
            background-color: var(--fontWhite);
            padding: 15px;
            border-radius: 10px;
            color: #111;
            align-items: center;

            h3{
                width: 20%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            a{
                text-decoration: none;
                background-color: #5bb378;
                font-size: 18px;
                color: var(--fontWhite);
                padding: 5px;
                border-radius: 5px;
            }
        }
    }
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    color: var(--fontWhite);

    p{
        font-size: 20px;

        a{
            color: var(--fontWhite);
        }
    }
}